<div class="centercontent">

  <div id="inbox" class="subcontent">
    <div class="pageheader" id="div1">
      <h1 class="pagetitle">删除教师用户</h1>

    </div><!--pageheader-->
    <br>


    <div class="sele">

      工号查询：<input type="text"/><input type="button" value="查询"/><br/>
    </div><!--contenttitle-->
    <br>

    <table cellpadding="0" cellspacing="0" border="0" class="stdtable mailinbox">
      <colgroup>
        <col class="con1" width="10%"/>
        <!--<col class="con0" width="4%" />-->
        <col class="con1" width="20%"/>
        <col class="con0" width="20%"/>
        <col class="con1" width="30%"/>
        <col class="con1" width="10%"/>
        <col class="con1" width="10%"/>

      </colgroup>
      <thead>
      <tr>
        <th width="20" class="head1 aligncenter"><input type="checkbox" name="checkall" class="checkall" /></th>
        <!--<th class="head0">&nbsp;</th>-->
        <th class="head1">工号</th>
        <th class="head0">姓名</th>
        <!--<th class="head1 attachement">&nbsp;</th>-->
        <th class="head0">职称</th>
        <th class="head0">删除</th>
      </tr>
      </thead>
      <!--删除教师的具体信息-->
      <tfoot>
      <th width="20" class="head1 aligncenter"><input type="checkbox" name="checkall" class="checkall" /></th>
      <!--<th class="head0">&nbsp;</th>-->
      <th class="head1"></th>
      <th class="head0"></th>
      <!--<th class="head1 attachement">&nbsp;</th>-->
      <th class="head0"></th>
      <th class="head0"><input type="button" value="删除"/></th>

      </tfoot>

    </table>
  </div>


</div><!--contentwrapper-->
