
<div class="topheader">
  <div class="left">
    <h1 class="logo">tju.<span>Homework</span></h1>
    <span class="slogan">作业管理系统</span>

    <br clear="all" />

  </div><!--left-->

  <div class="right">

    <div class="userinfo">
      <!--<img src="src/asset/images/thumbs/avatar.png" alt="" />-->
      <span>欢迎管理员！</span>
    </div><!--userinfo-->

  </div><!--right-->
</div><!--topheader-->

<div class="header">
  <ul class="headermenu">
    <!--3、在需要连接的地方用[routerLink]="['/person']"标记路由-->
    <li><a [routerLink]="['/left1']"><span class="icon icon-flatscreen"></span>1</a></li>
    <li><a [routerLink]="['/left2']"><span class="icon icon-message"></span>2</a></li>
    <li><a [routerLink]="['/left3']" ><span class="icon icon-pencil"></span>3</a></li>

  </ul>

</div><!--header-->




