/***** 7. HEADER STYLES *****/
/****************************/


.header {
  background: #485b79 url(headerbg.png);
  min-height: 50px; overflow: hidden; border-bottom: 5px solid #fb9337;
  -moz-box-shadow: inset 0 1px 0 #50627f; -webkit-box-shadow: inset 0 1px 0 #50627f; box-shadow: inset 0 1px 0 #50627f;
  position: relative;
}
.headermenu { overflow: hidden; list-style: none; border-right: 1px solid #576a85; display: inline-block; }
.headermenu li { float: left; display: inline-block; border-left: 1px solid #576a85; border-right: 1px solid #394962; }
.headermenu li:first-child { border-left: 0; }
.headermenu li a {
  display: block; font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; color: #fff; text-transform: uppercase;
  padding: 17px 10px;
}
.headermenu li a { min-width: 80px; text-align: center; }
.headermenu li a span { opacity: 0.5; }
.headermenu li a span.icon { height: 30px; display: block; margin-bottom: 10px; }

.headermenu li a span.icon-flatscreen { background: url(flatscreen.white.png) no-repeat center center; }
.headermenu li a span.icon-pencil { background: url(pencil.white.png) no-repeat center center; }
.headermenu li a span.icon-speech { background: url(speech.white.png) no-repeat center center; }
.headermenu li a span.icon-message { background: url(message.white.png) no-repeat center center; }
.headermenu li a span.icon-chart { background: url(chart.white.png) no-repeat center center; }
.headermenu li a:hover {
  background: url(bghover.png) no-repeat center bottom;
  -moz-box-shadow: inset 0 1px 0 #4f627e;
  -webkit-box-shadow: inset 0 1px 0 #4f627e; box-shadow: inset 0 1px 0 #4f627e;
}

.headermenu li.current { border-left: 0; border-right: 1px solid #394962;  }
.headermenu li.current a {
  /*background: url(arrow-active.png) no-repeat center bottom;*/
  -moz-box-shadow: inset 0 1px 0 #4f627e;
  -webkit-box-shadow: inset 0 1px 0 #4f627e; box-shadow: inset 0 1px 0 #4f627e; }
.headermenu li.current a span { opacity: 1; }

.headerwidget { position: absolute; top: 10px; right: 10px; }
.headerwidget .earnings {
  background: #32415a; padding: 8px 10px; overflow: hidden; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
  min-width: 200px; -moz-box-shadow: inset 1px 1px 2px #29374e; -webkit-box-shadow: inset 1px 1px 2px #29374e; box-shadow: inset 1px 1px 2px #29374e;
  border-bottom: 1px solid #516686;
}
.headerwidget .earnings h4 {
  font-weight: normal; text-transform: uppercase; color: #eee; font-size: 11px;
  font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; margin-bottom: 8px;
}
.headerwidget .earnings h2 {
  color: #f6e4a5; font-size: 32px; font-weight: normal; font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; margin-bottom: 8px;
}

/*----------------------------
*/
/***** 5. TOP HEADER STYLES *****/
/********************************/
/*url(assets/topheaderbg.png) repeat-x*/

.topheader { background: #34445e ; padding: 8px 10px; position: relative; border-bottom: 1px solid #303f59; }
.topheader .left h1.logo {
  font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; font-weight: normal; text-transform: uppercase; color: #fb9337;
  float: left; font-size: 30px; margin: 10px 0;
}.topheader .left h1.logo a { color: #fb9337; }
.topheader .left h1.logo span { color: #fff; }
.topheader .left .slogan {
  font-family: 'RobotoCondensed', Arial, Helvetica, sans-serif; float: left; padding: 8px 10px;
  border-left: 1px solid #606d84; color: #6a778d; font-style: italic; margin: 2px 10px;
}

/*.search { float: left; margin: 2px 10px; }*/
/*.search input[type=text] {*/
/*border: 0; padding: 10px 8px 11px 8px; background: #32415a; float: left; color: #4a5b78; -moz-border-radius: 2px 0 0 2px; margin: 0;*/
/*-webkit-border-radius: 2px 0 0 2px; border-radius: 2px 0 0 2px; border-bottom: 1px solid #445775; width: 200px; font-style: italic;*/
/*-moz-box-shadow: inset 1px 1px 2px #2b384e; -webkit-box-shadow: inset 1px 1px 2px #2b384e; box-shadow: inset 1px 1px 2px #2b384e;*/
/*}*/
/*.search input[type=text]:focus { font-style: normal; color: #6a778d; }*/
/*.search .submitbutton {*/
/*float: left; border: 0; border-bottom: 1px solid #445775; -moz-border-radius: 0 0 2px 0; -webkit-border-radius: 0 0 2px 0; cursor: pointer;*/
/*border-radius: 0 0 2px 0; background: url(../assets/searchbutton.png) no-repeat 0 0; width: 38px; height: 37px; vertical-align: middle;*/
/*}*/

.topheader .right { position: absolute; top: 10px; right: 10px; }

