.pageheader { margin-left: 231px; position: relative; border:1px}
.pageheader .pagetitle { margin: 0 20px 10px 20px; }
.pageheader .pagedesc { margin: 0 20px; }
.pageheader .hornav { padding: 0 20px; }

.pageheader .centercontent { margin-left: 56px; }
.pageheader .centercontent { margin-left: 36px; }

.pageheader .pagetitle {
  margin: 0 10px; color: #485b79; font-weight: normal; font-size: 28px; font-family: 'RobotoBoldCondensed', Arial, Helvetica, sans-serif;
}

/*----*/
/***** 20. STANDARD FORM STYLES *****/
/************************************/


form input[type=text] {
  padding: 8px 5px; border: 1px solid #ccc; width: 85%; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  border-radius: 2px; background: #fcfcfc; vertical-align: middle; -moz-box-shadow: inset 0 1px 3px #ddd;
  -webkit-box-shadow: inset 0 1px 3px #ddd; box-shadow: inset 0 1px 3px #ddd; color: #666;
}
form input:focus {
  background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee;
}
form textarea {
  padding: 6px 5px; border: 1px solid #ccc; width: 85%; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  border-radius: 2px; -moz-box-shadow: inset 0 1px 3px #ddd; -webkit-box-shadow: inset 0 1px 3px #ddd;
  box-shadow: inset 0 1px 3px #ddd; background: #fcfcfc; color: #666;
}
form input[type=radio], .stdform input[type=checkbox] { width: auto; margin: 0; vertical-align: middle; }
form input[type=submit] {
  width: auto; margin: 0; font-weight: bold; color: #eee; background: #FB9337; border: 1px solid #F0882C; padding: 7px 10px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; cursor: pointer; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  border-radius: 2px;
}
form input[type=submit]:hover { background: #485B79; border: 1px solid #3f526f; }
form input[type=reset] {
  width: auto; margin: 0; font-weight: bold; color: #666; border: 1px solid #ccc; background: #eee; padding: 7px 10px;
  -moz-box-shadow: none; -webkit-box-shadow: none; box-shadow: none; margin-left: 5px; -moz-border-radius: 2px; -webkit-border-radius: 2px;
  border-radius: 2px;
}
form input[type=reset]:hover { background: #ddd; cursor: pointer; color: #333; }
form select {
  border: 1px solid #ccc; padding: 5px 2px; min-width: 40%; background: #fcfcfc; -moz-border-radius: 2px; -webkit-border-radius: 2px; border-radius: 2px;
  -moz-box-shadow: inset 1px 1px 2px #ddd; -webkit-box-shadow: inset 1px 1px 2px #ddd; box-shadow: inset 1px 1px 2px #ddd; color: #666;
}
form textarea:focus, form select:focus {
  background: #fff; -moz-box-shadow: inset 1px 1px 2px #eee; -webkit-box-shadow: inset 1px 1px 2px #eee; box-shadow: inset 1px 1px 2px #eee;
}

form button { border: 1px solid #f0882c; background: #fb9337; color: #fff; cursor: pointer; padding: 7px 10px; font-weight: bold; }
form button.submit:hover { background: #485B79; border: 1px solid #3f526f; color: #fff; }
form button:active {
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.3);
}

form input.smallinput, form textarea.smallinput { width: 40%; }
form input.mediuminput, form textarea.mediuminput { width: 60%; }
form input.longinput, form textarea.longinput { width: 85%; }
form input.error { border: 1px solid #f00; }
form textarea.error { border: 1px solid #f00; }
form textarea.error { border: 1px solid #f00; }
form select.error { border: 1px solid #f00; }
form label.error { float: none; color: #f00; font-size: 11px; display: block; text-align: left; font-weight: bold; }

.stdform {margin-left: 231px; position: relative;}
.stdform p, .stdform div.par { margin: 20px 0; }
.stdform div.par { overflow: hidden; }
.stdform span.field, .stdform div.field { margin-left: 220px; display: block; position: relative; }
.stdform .formwrapper { display: block; padding-top: 5px; margin-left: 220px; line-height: 25px; }
.stdform label { float: left; width: 200px; text-align: right; padding: 5px 20px 0 0; }

.stdform button.cancel { background: #eee; color: #666; border: 1px solid #ddd; }
.stdform button.cancel:hover { background: #ddd; border: 1px solid #ccc; }
.stdform button.cancel:active {
  -moz-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7); -webkit-box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
  box-shadow: inset 1px 1px 2px rgba(0, 0, 0, 0.7);
}
.stdform small.desc { font-size: 11px; color: #999; font-style: italic; display: block; margin: 5px 0 0 220px; }
.stdform .stdformbutton { margin-left: 220px; }

/*** ANOTHER FORM STYLE ***/
.stdform2 p, .stdform2 div.par { border: 1px solid #ddd; background: #fcfcfc; margin: 0; border-top: 0; }
.stdform2 div.terms { border: 0; background: none; }
.stdform2 p:first-child, .stdform2 div.par:first-child { border-top: 1px solid #ddd; }
.stdform div.par { overflow: hidden; }
.stdform2 label { display: inline-block; padding: 20px; vertical-align: top; text-align: left; font-weight: bold; }
.stdform2 label.error { margin-left: 0; padding: 0; }
.stdform2 label small { font-size: 11px; color: #999; display: block; font-weight: normal; line-height: 16px; }
.stdform2 span.field, .stdform2 div.field { margin-left: 220px; display: block; background: #fff; padding: 20px; border-left: 1px solid #ddd; }
.stdform2 .stdformbutton { margin-left: 0; padding: 20px; background: #fff; }


/*=======================*/
/***** 19. STANDARD TABLES STYLES *****/
/**************************************/


.stdtable {  margin-left: 231px; position: relative;}
.sele{ margin-left: 231px; position: relative;}
.stdtable .con0 { background: #fff; }
.stdtable .con1 { background: #fcfcfc; }
.stdtable th, .stdtable td { line-height: 21px; vertical-align: middle; color: #333; }
.stdtable thead th, .stdtable thead td {
  padding: 7px 10px; border: 1px solid #ddd; border-left: 0;
  text-align: left;
}
.stdtable tfoot th, .stdtable tfoot td { padding: 7px 10px; border-right: 1px solid #ddd; border-bottom: 1px solid #ddd; text-align: left; }
.stdtable thead th:first-child, .stdtable tfoot th:first-child,
.stdtable thead td:first-child, .stdtable tfoot td:first-child { border-left: 1px solid #ddd; }
.stdtable thead th.head0, .stdtable tfoot th.head0, .stdtable thead td.head0, .stdtable tfoot td.head0 { background-color: #fcfcfc; }
.stdtable thead th.head1, .stdtable tfoot th.head1, .stdtable thead td.head1, .stdtable tfoot td.head1 { background-color: #f7f7f7; }
.stdtable thead th.sorting, .stdtable thead td.sorting {
  background-image: url(sort_both.png); background-repeat: no-repeat; background-position: right center; }
.stdtable thead th.sorting_asc, .stdtable thead td.sorting_asc {
  background-image: url(sort_asc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.sorting_desc, .stdtable thead td.sorting_desc  {
  background-image: url(sort_desc.png); background-repeat: no-repeat; background-position: right 9px; }
.stdtable thead th.nosort { background-image: none !important; }
.stdtable thead td { font-weight: bold; }
.stdtable thead td.center { text-align: center; }
.stdtable tbody tr td { padding: 8px 10px; border-right: 1px solid #eee; border-bottom: 1px solid #eee; color: #666; }
.stdtable tbody tr:last-child td { border-bottom: 1px solid #ddd; }
.stdtable tbody tr td:first-child { border-left: 1px solid #ddd; }
.stdtable tbody tr td:last-child { border-right: 1px solid #ddd; }
.stdtable tbody tr.togglerow td { background: #fff; padding: 15px; }
.stdtable tbody tr.togglerow:hover td { background: #fff; }
.stdtable tbody tr.hiderow { display: none; }
.stdtable .actions { text-align: center; }
.stdtable .actions a { display: inline-block; margin-left: 5px; border-left: 1px solid #ccc; padding-left: 5px; }
.stdtable .actions a:first-child { border-left: 0; margin-left: 0; }
.stdtable .actions a:hover { color: #FB9337; }
.stdtable a.title { font-weight: bold; color: #32415a; }
.stdtable a.title:hover { color: #fb9337; }

/*==============*/

/*.search {margin-left: 231px; position: relative;}*/
/*.search input[type=text]:focus { font-style: normal; color: #6a778d; }*/
/*.search .submitbutton {*/
  /*float: left; border: 0; border-bottom: 1px solid #445775; -moz-border-radius: 0 0 2px 0; -webkit-border-radius: 0 0 2px 0; cursor: pointer;*/
  /*border-radius: 0 0 2px 0; background: url(searchbutton.png) no-repeat 0 0; width: 38px; height: 37px; vertical-align: middle;*/
/*}*/



