
<div class="topheader">
  <div class="left">
    <h1 class="logo">tju.<span>Homework</span></h1>
    <span class="slogan">作业管理系统</span>

    <br clear="all" />

  </div><!--left-->

  <div class="right">

    <div class="userinfo">
      <!--<img src="src/asset/images/thumbs/avatar.png" alt="" />-->
      <span>欢迎管理员！</span>
    </div><!--userinfo-->

  </div><!--right-->
</div><!--topheader-->

<div class="header">
  &nbsp;&nbsp;
  <div class="dropdown">
      <button class="dropbtn">1</button>
      <div class="dropdown-content">
        <a href="#">1</a>
        <a href="#">2</a>
        <a href="#">3</a>
      </div>
  </div>
  &nbsp;&nbsp;

  <div class="dropdown">
    <button class="dropbtn">教师管理</button>
    <div class="dropdown-content">
      <a [routerLink]="['/addteacher']">添加教师</a>
      <a [routerLink]="['/deleteacher']">删除教师</a>
    </div>
  </div>
    &nbsp;&nbsp;
  <div class="dropdown">
      <button class="dropbtn">3</button>
    <div class="dropdown-content">
        <a href="#">1</a>
        <a href="#">2</a>
    </div>
   </div>
      &nbsp;
    </div>




