<br>
<div class="pageheader">
  <h1 class="pagetitle">添加教师用户</h1>

</div><!--pageheader-->
<br>

<form class="stdform stdform2" >
  <p>
    <label>工号</label>
    <span class="field"><input type="text" name="age"  class="longinput" /></span>
  </p>
  <p>
    <label>姓名</label>
    <span class="field"><input type="text" name="firstname" id="firstname2" class="longinput" /></span>
  </p>

  <p>
    <label>年龄</label>
    <span class="field"><input type="text" name="lastname" id="lastname2" class="longinput" /></span>
  </p>

  <p>
    <label>性别</label>
                            <span class="field">
                            	<input type="radio" name="radiofield" /> 男 &nbsp; &nbsp;
                            	<input type="radio" name="radiofield" checked="checked" /> 女 &nbsp; &nbsp;
                            </span>
  </p>


  <p>
    <label>职称</label>
                            <span class="field">
                            	<input type="radio" name="radiofield1" checked="checked"/> 讲师 &nbsp; &nbsp;
                            	<input type="radio" name="radiofield1"  /> 副教授 &nbsp; &nbsp;
                              <input type="radio" name="radiofield1" /> 教授  &nbsp; &nbsp;
                              <input type="radio" name="radiofield1"  /> 助教
                            </span>
  </p>

  <p>
    <label>邮箱</label>
    <span class="field"><input type="text" name="email" id="email2" class="longinput" /></span>
  </p>

  <p>
    <label>住址 <small>家庭住址</small></label>
    <span class="field"><textarea cols="80" rows="5" name="location" id="location2" class="longinput"></textarea></span>
  </p>

  <p class="stdformbutton">
    <button class="submit radius2">提交</button>
    <input type="reset" class="reset radius2" value="重置" />
  </p>
</form>

<br />
